@import '../../scss/variables.scss';

label {
  position: relative;

  span {
    position: absolute;
    left: 10px;
    top: 8px;
  }

  .input {
    padding: 10px 10px 10px 50px;
    width: 300px;
    border: 2px solid #0001;
    border-radius: 20px;
    outline: none;
    transition: all 0.3s linear;

    &:focus {
      border: 2px solid $accent-color;
    }
  }
}

@media (max-width: 830px) {
  .input {
    width: 150px;
  }
}
